.main-container-wrap{
	/*background:red;*/
	min-width: 1002px;
}
.header-wrapper{
	background:yellow;
}
.header-top{
	background:blue;
	padding: 22px 0px 16px;
	background-color: #7dd9e8;
}
.header-top-container{
	width: 58.625em;
	/*height: 85px;*/
	margin: 0 auto;
	background-color: #7dd9e8;
}
.header-bottom{
	background:#f5f5f5;
}
.header-bottom-container{
	width: 58.625em;
	margin: 0 auto;
	background:#f5f5f5;
}


.body-wrapper{
	background:white;
}


.main {
    float: left;
    width: 78.67803837953092%;
}
.col3-right-center{
	width:58.625em;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 26px;
	background: url("../images/center-bg.png") repeat-y;
}
.col-l{
	float:left;
	width: 26.28726287262873%;
/*.background: yellow;*/
}

.footer-wrapper{
	width: 100%;
	background:#727272;
}

.footer-wrp-center{
	margin:0 auto;
	max-width: 58.625em;
}
.footer-left{
	float: left;
}

.footer-right{
	float: right;
	line-height: 45px;
	color: #d4d4d4;
	font-size: 9px;
	padding: 0 6px;
}



/*.account-options {list-style-type: none;margin: 0px; padding: 0px;}*/
/*.user-options ul li{background-image: url("images/separator.png"); background-position: right ; background-repeat: no-repeat; display: inline-block;padding:5px;}*/









